# General stuff to ignore
.git
.gitignore
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd

# Local envs
.venv/
venv/

# Caches and notebooks
.cache/
.ipynb_checkpoints/
*.ipynb

# Big training artefacts (adjust names for your project)
data/
datasets/
notebooks/
checkpoints/
runs/
wandb/
logs/

# Ignore all model files by default
*.pt
*.pth

# BUT keep the one model file you actually use:
!models/final_waste_model.pth
